.login-page,
.register-page {
  background: transparent;
  height: 100%;
}

.login-box,
.register-box {
  width: 400px;
}

.content-wrapper {
  padding-top: 20px;
}

.action-grid {
  display: grid;
  grid-gap: 5px 5px;
  grid-template-columns: auto auto auto auto;
  align-content: center;
  -webkit-box-pack: center;
          justify-content: center;
}

/**
 * Nestable
 */

.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-list .dd-list {
  padding-left: 30px;
}

.dd-collapsed .dd-list {
  display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}

.dd-handle {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px;
  color: #343a40;
  text-decoration: none;
  font-weight: bold;
  background: #ffffff;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-left: 4px solid #4CAF50;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.dd-handle:hover {
  color: #c2c7d0;
  background: #43484c;
}

.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  color: #343a40;
}

.dd-item > button:before {
  content: "+";
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

.dd-item > button[data-action=collapse]:before {
  content: "-";
}

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}

.dd-dragel .dd-handle {
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}

/* slide */

.swiper-container {
  width: 100%;
  /*height: 300px;*/
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

#categoryNav {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#categoryNav .card {
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: none;
}

#categoryNav .card .card-header {
  padding: 0;
  border-bottom: 1px solid #f4f4f4;
  cursor: pointer;
}

#categoryNav .card .card-header > .card-tools {
  margin-right: 0.5rem;
  padding-top: 8px;
}

#categoryNav .card .card-header > .card-tools i {
  color: #777;
  font-size: 0.8rem;
}

#categoryNav .card:first-child .card-header {
  padding: 0.6rem 1rem;
  border-top: 3px solid #d2d6de;
  cursor: initial;
}

#categoryNav .card:first-child .card-header h6 {
  font-weight: bold;
  margin-bottom: 0;
  color: #444;
}

#categoryNav .card:last-child .card-header {
  border-bottom: 0;
}

#categoryNav .card .card-header a {
  display: block;
  padding: 0.5rem 1rem;
  color: #444;
  font-size: 0.93rem;
}

#categoryNav .card .card-header[data-toggle=collapse] .fa-angle-up,
#categoryNav .card .card-header[data-toggle=collapse][aria-expanded=false] .fa-angle-up,
#categoryNav .card .card-header[data-toggle=collapse][aria-expanded=true] .fa-angle-down {
  display: none;
}

#categoryNav .card .card-header[data-toggle=collapse][aria-expanded=true] .fa-angle-up,
#categoryNav .card .card-header[data-toggle=collapse][aria-expanded=false] .fa-angle-down {
  display: inline;
}

#footer {
  background: url("/images/footer-bg.jpg") 100% 100% no-repeat;
}

#featureProductSection .swiper-container {
  padding: 5px;
}

.product-item {
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  position: relative;
  z-index: 10;
}

.product-item:hover {
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.18);
}

.product-item-add-cart {
  padding: 0;
}

.product-item-add-cart .btn {
  border-radius: 0;
}

.product-item .product-item-thumbnail {
  position: relative;
  overflow: hidden;
}

.product-item .product-item-thumbnail img {
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.product-item:hover .product-item-thumbnail img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.product-item .product-item-title {
  display: block;
  width: 100%;
  text-align: center;
}

.product-item .product-item-title a {
  color: #333;
  text-transform: uppercase;
}

.product-item .product-item-price {
  color: red;
  text-align: center;
}

.pp-navbar-custom {
  background-color: #4caf50;
}

.pp-navbar-custom .navbar-nav .nav-link {
  color: white;
}

.pp-navbar-custom .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .show > .nav-link {
  color: #ffffffb3;
}

#gallery_upload_preview {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

